@import "../App.css";
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.title-about {
  text-align: center;
  margin: 0;
  font-size: 3.125rem;
  font-weight: 500;
}

.__div-section-1 {
  background: var(--section-1-about-background);
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
}

.__div-section-1 > :nth-child(-n + 2) {
  margin: 0 2rem 0 2rem;
  padding: 2rem;
}

.container-about-section-1 {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw
}

.container-about-section-1 h2 {
  font-size: 2vw;
  margin: 0;
}

.container-about-section-1 p {
  line-height: 2;
  font-size: 1.5vw;
  display: flex;
}

.__div-section-2 {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5rem !important;
  padding-bottom: 3rem !important;
  background: #fff;
  width: auto;
  height: 27.75rem;
  text-align: center;
  flex-direction: column;
}

.__div-section-2 h2 {
  font-family: "Poppins" !important;
}

.__div-section-2 > div {
  flex-wrap: wrap;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.__div_section-2-father-about {
  display: flex;
  background: #fff;
  width: calc(1275 / 16);
  height: 15.75rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.__div_section-2-father-about > div {
  display: flex;
  flex-direction: column;
  margin-right: 1.5625rem;
  width: 16.5rem;
  height: 13.5rem;
}

.__div_section-2-child-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.transition-section-2-about {
  transition: background 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.transition-section-2-about:hover {
  background: var(--about-icon-color);
  color: #f5f5f5;
}

.about-icons-section-2 {
  transition: color 0.3s ease; /* Añade la transición de color para los iconos */
}

.transition-section-2-about:hover .about-icons-section-2 {
  color: #f5f5f5;
}

.about-icons-section-2 {
  height: 3.75rem;
  color: var(--about-icon-color);
}

.__div_section-2-child-about > div {
  margin-top: 17%;
}

.about-services-section-2 { 
  font-size: 1.5rem;
  margin-top: 0.75rem;
  font-weight: 500;
}

.__div-section-3 {
  background: var(--section-3-about);
  padding-top: 5rem;
  padding-bottom: 4rem;
  width: auto;
  text-align: center;
  flex-direction: column;
}

.__about--div--section-3-child-inner-div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.__about--div--section-3-child-inner-div > :nth-child(-n + 4) {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: filter 0.7s ease, opacity 0.7s ease;
  margin-right: 2rem;
}

.__about--div--section-3-child-inner-div > :nth-child(-n + 4):hover {
  cursor: pointer;
  filter: grayscale(0%);
  opacity: 1;
}

.__about--div--section-3-child-inner-div-img-1 > img {
  max-width: 100%;
  height: 9rem;
  margin-right: 2rem;
}

.__about--div--section-3-child-inner-div-img-2 > img {
  max-width: 100%;
  margin-bottom: 1.4375rem;
  max-height: 7rem;
  margin-right: 1.5rem;
}

.__about--div--section-3-child-inner-div-img-3 > img {
  max-width: 100%;
  height: auto;
  position: relative;
  right: auto;
}

.__about--div--section-3-child-inner-div-img-4 > img {
  max-width: 55%;
  max-width: 15rem;
  height: auto;
  position: relative;
  right: auto;
}

.__div-section-4 {
  background: var(--section-4-about-background);
  padding-top: 6rem !important;
  padding-bottom: 3rem !important;
  width: auto;
  height: auto;
  text-align: center;
  flex-direction: column;
}
.publicity-section-1-about-us {
  width: 25vw;

}
