.main-content-shop {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3rem 0.8rem;
  margin: 0 2rem;
}

.title-shop {
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 3.125rem;  
  font-weight: 500;
  color: #000;
}

.grid-container {
  margin-top: 1rem;
  display: grid;
  background: transparent;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(1fr, 12rem));
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: dense;
  gap: 1.5rem;
  padding: 2rem;
  position: relative;
}

.grid-item {
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: 0.12rem solid rgba(0, 0, 0, 0.125);
  height: 100%;
  position: relative;
}

.grid-item:hover {
  transition: all 0.25s ease-in-out;
  transform: scale(1.1);
}

.links-shop-watch-product {
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  position: absolute;
  width: 100%;
  height: 100%;
}

.links-shop-watch-product:hover {   
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  opacity: 1;
}

.link-shop-watch-product {
  display: block;
  height: 2rem;
  width: 2rem;
  background: #1065cd;
  border: none;
  border-radius: 10%;
  outline: #1065cd;
  position: relative;
  cursor: pointer;
}

.link-shop-watch-product:hover {
  transform: scale(1.1);  
}

.icon-link-shop { 
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.categories {
  margin-top: 2rem;
  height: auto;
}

.card-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-image-container > img {
  min-width: 10rem;
  min-height: 15rem;
}

.card-text-container {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  text-align: start;
}

.card-text-container > .link-shop {
  width: auto;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-decoration: none;
  color: #1065cd;
}

.star {
  opacity: 0.5;
  color: #6c757d;
  font-size: 1.5rem;
}

.flex-container-star-shop {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-container-star-shop > :nth-child(-n + 5) {
  padding-right: 0.4rem;
  padding-top: 0.7rem;
}

.flex-container-star-shop > :nth-child(-n + 4) {
  color: rgb(255, 255, 7);
}

.card-text-container-sizes {
  width: min-content;
  padding-top: 0.2rem;
}

.card-text-container-sizes > p {
  width: min-content;
  margin: 0;
}

.price-container-shop {
  display: flex;
  padding-top: 0.4rem;
  justify-content: center;
}

.price-container-shop > p {
  margin: 0;
}

.brand-text-shop { 
  margin: 0;
  width: max-content;
}

/* I wanto to adapt the design to an iphone 11 resolution */
